@model SistemaAcademiaProgramadores.Models.tbUsuarios

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<section class="content">

<div class="card">
<div class="card-header">
<h3 class="card-title">@ViewBag.Title</h3>
<div class="card-tools">
<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
<i class="fa fa-minus"></i>
</button>
<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
<i class="fa fa-times"></i>
</button>
</div>
</div>
<div class="card-body form-row">
        
      
    <div class="col-sm-6">
        <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Usuar_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuar_Usuario)
        </dd>
        </dl>
     </div>

      
    <div class="col-sm-6">
        <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Usuar_Contrasena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuar_Contrasena)
        </dd>
        </dl>
     </div>

      
    <div class="col-sm-6">
        <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Usuar_UltimaSesion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuar_UltimaSesion)
        </dd>
        </dl>
     </div>

      
    <div class="col-sm-6">
        <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Usuar_Admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuar_Admin)
        </dd>
        </dl>
     </div>

      
    <div class="col-sm-6">
        <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Usuar_FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuar_FechaCreacion)
        </dd>
        </dl>
     </div>

      
    <div class="col-sm-6">
        <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Usuar_FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuar_FechaModificacion)
        </dd>
        </dl>
     </div>

      
    <div class="col-sm-6">
        <dl>
        <dt>
            @Html.DisplayNameFor(model => model.Usuar_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuar_Estado)
        </dd>
        </dl>
     </div>

      
      
      
      
      
      
      
      
      
      
      
    <div class="col-sm-6">
        <dl>
        <dt>
            @Html.DisplayNameFor(model => model.tbInstructores2.Perso_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbInstructores2.Perso_Id)
        </dd>
        </dl>
     </div>

      
      
      
      
      
      
      
      
      
    <div class="col-sm-6">
        <dl>
        <dt>
            @Html.DisplayNameFor(model => model.tbRoles2.Roles_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbRoles2.Roles_Descripcion)
        </dd>
        </dl>
     </div>

      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    <div class="col-sm-6">
        <dl>
        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios2.Usuar_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios2.Usuar_Usuario)
        </dd>
        </dl>
     </div>

      
      
    <div class="col-sm-6">
        <dl>
        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios3.Usuar_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios3.Usuar_Usuario)
        </dd>
        </dl>
     </div>

    <p>
            <td class="col-sm-6">
                <a class="btn btn-editar col-sm-4" href="@Url.Action("Edit", new { id=item.Usuar_Id })">
                    <i class="fa fa-edit"></i>
                </a>
               <a class="btn btn-blue col-sm-1" href="@Url.Action("Index")">
                <i class="fa fa-arrow-circle-o-left"></i>
             </a>
                
            </td>
        </p>
</div>
<div class="card-footer">
   
</div>
</div>
</section>

