@model SistemaAcademiaProgramadores.Models.tbUsuarios

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbUsuarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuar_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuar_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuar_Contrasena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuar_Contrasena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuar_UltimaSesion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuar_UltimaSesion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuar_Admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuar_Admin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuar_FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuar_FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuar_FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuar_FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuar_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuar_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbInstructores2.Perso_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbInstructores2.Perso_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbRoles2.Roles_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbRoles2.Roles_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios2.Usuar_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios2.Usuar_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios3.Usuar_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios3.Usuar_Usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Usuar_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
