@model SistemaAcademiaProgramadores.Models.tbUsuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbUsuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usuar_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuar_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuar_Contrasena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuar_Contrasena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuar_Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuar_Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuar_UltimaSesion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuar_UltimaSesion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuar_Admin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuar_Admin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuar_FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuar_FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuar_FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuar_FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuar_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuar_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbInstructore.Instr_Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbInstructore.Instr_Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbRole.Roles_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbRole.Roles_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuario1.Usuar_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuario1.Usuar_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuario2.Usuar_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuario2.Usuar_Usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Usuar_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
