@model SistemaAcademiaProgramadores.Models.tbGeneracione

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbGeneracione</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gener_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gener_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gener_Anhio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gener_Anhio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gener_FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gener_FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gener_FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gener_FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gener_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gener_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuario.Usuar_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuario.Usuar_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuario1.Usuar_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuario1.Usuar_Usuario)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
