@model IEnumerable<SistemaAcademiaProgramadores.Models.tbGeneraciones>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<section class="content">

<div class="card">
<div class="card-header">
<h3 class="card-title">Title</h3>
<div class="card-tools">
<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
<i class="fas fa-minus"></i>
</button>
<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
<i class="fas fa-times"></i>
</button>
</div>
</div>
<div class="card-body">
   <div class="btn btn-primary col-sm-12">
            <i class="fa fa-plus-square-o">
               @Html.ActionLink("Nuevo", "Create")
            </i>
    </div>
        
    <table class="table table-responsive table-striped ">
        <tr class="thead-purple thead-justify-content-center">
            <th>
                @Html.DisplayNameFor(model => model.Gener_Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gener_Anhio)
            </th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Gener_Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gener_Anhio)
            </td>
            <td>
                <div class="btn btn-editar col-sm-12">
                    <i class="fa fa-edit">@Html.ActionLink("Editar", "Edit", new { id=item.Gener_Id })</i>
                </div>
            </td>
            <td>
                <div class="btn btn-detalle col-sm-12">
                    <i class="fa fa-edit">@Html.ActionLink("Detalles", "Details", new { id=item.Gener_Id })</i>
                </div>
            </td>
            <td>
                <div class="btn btn-danger col-sm-12">
                    <i class="fa fa-trash-o">@Html.ActionLink("Borrar", "Delete", new { id=item.Gener_Id })</i>
                </div>
            </td>
            </tr>
    }
    </table>
</div>

<div class="card-footer">
Footer
</div>

</div>

</section>


