@model SistemaAcademiaProgramadores.Models.tbGeneraciones

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbGeneraciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Gener_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gener_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gener_Anhio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gener_Anhio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gener_FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gener_FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gener_FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gener_FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gener_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gener_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gener_FechaInicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gener_FechaInicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gener_FechaFin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gener_FechaFin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios.Usuar_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios.Usuar_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios1.Usuar_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios1.Usuar_Usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Gener_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
