@model SistemaAcademiaProgramadores.Models.tbActividadesPorCursoPorGeneracion

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbActividadesPorCursoPorGeneracion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ActCG_Nota)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActCG_Nota)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActCG_FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActCG_FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActCG_FechaModificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActCG_FechaModificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ActCG_Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ActCG_Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbInstructoresPorCursoPorGeneracion.InsCG_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbInstructoresPorCursoPorGeneracion.InsCG_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios.Usuar_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios.Usuar_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbUsuarios1.Usuar_Usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbUsuarios1.Usuar_Usuario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbActividades.Activ_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbActividades.Activ_Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
