@model SistemaAcademiaProgramadores.Models.tbActividadesPorCursoPorGeneracion

    @{
        ViewBag.Title = $"tbActividadesPorCursoPorGeneracion".Substring(2);
        ViewBag.Title = ViewBag.Title.Substring(0, ViewBag.Title.Length - 1);
                Layout = "~/Views/Shared/_Layout.cshtml";
            }
    
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-sm-4">
        <h1 class="text-primary">Modificar @ViewBag.Title</h1>
    </div>
    <div class="col-sm-8">
        <div class="title-action">
            <a href='@Url.Action("Index")' class="btn btn-primary"><i class="glyphicon glyphicon-arrow-left"></i> Regresar</a>
        </div>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <section class="content">

<div class="card">
<div class="card-header">
<h3 class="card-title text-primary">Editar @ViewBag.Title</h3>
</div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="card-body form-row">

            @Html.HiddenFor(model => model.ActCG_Id)

            <div class="col-sm-6 mb-2">

                @Html.LabelFor(model => model.Activ_Id, new { @class = "text-primary w-100 text-left" })
                <div>
                    @Html.DropDownList("Activ_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Activ_Id, "", new { @class = "text-danger" })
                </div>
                </div>
            <div class="col-sm-6 mb-2">

                @Html.LabelFor(model => model.InsCG_Id, new { @class = "text-primary w-100 text-left" })
                <div>
                    @Html.DropDownList("InsCG_Id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.InsCG_Id, "", new { @class = "text-danger" })
                </div>
                </div>
            <div class="col-sm-6 mb-2">

                @Html.LabelFor(model => model.ActCG_Nota, new { @class = "text-primary w-100 text-left" })
                <div>
                    @Html.EditorFor(model => model.ActCG_Nota, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ActCG_Nota, "", new { @class = "text-danger" })
                </div>
                </div>
 </div>
  <div class="card-footer">
      <div class="d-flex align-items-center justify-content-end">
        <button type="submit" class="btn btn-primary" ><i class="fa fa-save"></i> Guardar</button>
        <a href='@Url.Action("Index")' class="btn btn-primary btn-outline"><i class="fa fa-times"></i> Cancelar</a>
      </div>
    </div>
        
    </div>
    </section>
    <script>
        document.querySelectorAll('.col-sm-6.mb-2').forEach(grupo => {
            grupo.children[1].children[0].addEventListener('focus', () => {
                grupo.children[0].classList.add('text-secondary')
            })
            grupo.children[1].children[0].addEventListener('blur', () => {
                grupo.children[0].classList.remove('text-secondary')
            })
        })
    </script>
   }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
